.card-wish{
    .img-style{
        height: 89px;
        width: 158px;
    }
    .wish-block{
        background-color: rgb(233, 233, 233);
        height: 90%;
        .block-icon{
            font-size: 50px;
            margin-right: 20px;
            margin-left: 10%;
        }
    }
   .style-name{
       font-weight: 700;
   }
   
   .body-heart{
    color: red;
    font-size: 18px;
   }
    
}
