<div class="row banner">
    <div class="col-12  banner-box">
        <div class="row">
            <div class="col-6 d-flex justify-content-end align-items-center box">
                <div class="box-square">
                    <h1 class="box-title"> Juegos para Nintendo Swith</h1>
                    <h3 class="box-subtitle">
                        Descubre una amplia gama de juegos para la familia de consolas Nintendo Switch™, incluidos los
                        últimos lanzamientos, clásicos y títulos multijugador.
                    </h3>
                </div>

            </div>
            <figure class="col-6 box-img">
                <img src="https://assets.nintendo.com/image/upload/f_auto/q_auto/c_fill,w_700/dpr_2.0/ncom/en_US/merchandising/curated%20list/zz-optimization/1920x1080_Switch_v2"
                    class="img" fetchpriority="high" loading="auto">
            </figure>
        </div>

    </div>
</div>